*{
    
    color: white;
    font-family:Arial ;
}
body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient( rgb(20,20,20), rgb(20,20,20));
}
#container{
    background-image: url(morgan_hatterkep.png);
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    background-size: contain;
    background-position: center;
    height:100dvh;
    
}
input{
    color: black;
}
.logo{
    background-color: rgb(62, 169, 211);
    
}
img{
    height: 60px;
}
fieldset{
    max-width: 600px;
    margin:auto;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(49, 49, 49, 0.75) ;
}
