*{
    font-style: italic;
    color: white;
    font-family:"Comic sans MS" ;
    font-weight: 700;
}
body{
    margin: 0px;
    margin-bottom: 30px;
    padding: 0px;
    background: linear-gradient( rgb(20,20,20), rgb(20,20,20));
}
#container{
    background-image: url(morgan_hatterkep.png);
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    background-size: contain;
    background-position: center;
    /* height:100dvh; */
    
}
input, select, option{
    color: black;
}
.logo{
    background-color: rgb(62, 169, 211);
    
}
img{
    height: 60px;
}
fieldset{
    margin:auto;
    padding: 20px;
    max-width: 600px;
    display: grid;
    align-content: start;
    background-color: rgba(49, 49, 49, 0.75) ;
}
.szemelyes{
    grid-template-columns:100px 1fr 100px 1fr;
    gap: 10px;
}
.utazas{
    grid-template-columns:100px 1fr 100px 1fr;
}
.szolgaltatas{
    display: flex;
    justify-content: space-between;
}
input[type="text"]{
    background-color: rgb(0, 0, 0);
    max-width: 200px;
    color: white;
    opacity: 0.7;
}
input[type="submit"]{
    margin-top: 20px;
    background-color: rgb(62, 169, 211);
    height: clamp(30px, 40px, 750px);
    width: 100px;
    font-size: clamp(0.75rem, 1.2rem, 2rem);
    
    
}